<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my Store - All Products!</h1>
    <table>
        <% for (let product of products) { %>
            <tr>
                <td><a href="/products/<%= product.id %>" > <%= product.name %> </a> </td>
                <td><%= '$' + product.price %> </td>
            </tr>
            <%}%> 
        </table>
    </body>
    </html>